.text-editor {
  .container {
    .row {
      justify-content: space-between;

      .col {
        &--first {
          width: 61.2rem;
        }

        &--second {
          width: 68.1rem;
        }

        p {
          font-size: 1.6rem;
          line-height: 146%;
          color: $darkBlue;
          margin-bottom: 3.2rem;
        }

        ul {
          list-style-type: none;
          margin-bottom: 4.2rem;

          li {
            font-size: 1.6rem;
            line-height: 120%;
            color: $darkBlue;
            position: relative;
            padding: 0 0 0 1.2rem;
            margin-bottom: 1.6rem;

            &:before {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg transform='translate(-968 -1826)'%3E%3Ccircle cx='12' cy='12' r='12' transform='translate(968 1826)' fill='%23abc6d6'/%3E%3Cpath d='M8.294 17a1.391 1.391 0 0 1-1.111-.553L3.61 11.724a1.394 1.394 0 1 1 2.223-1.681l2.351 3.1 5.911-9.492A1.394 1.394 0 0 1 16.462 5.13L9.478 16.34A1.39 1.39 0 0 1 8.358 17c-.022 0-.042 0-.064 0Z' transform='translate(970 1828.001)' fill='%23174766'/%3E%3C/g%3E%3C/svg%3E");
              content: '';
              width: 2.4rem;
              height: 2.4rem;
              display: inline-block;
              position: relative;
              top: 6px;
              left: -10px;
            }
          }
        }
      }
    }
  }
}