.text-editor {
  .container {
    .row {
      justify-content: space-between;

      .col {
        &--first {
          width: 61.2rem;
        }

        &--second {
          width: 68.1rem;
        }
      }
    }
  }
}