@use './variables' as variables;

html {
  font-size: 10px;
  font-size: 62.5%;
}

body {
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  position: relative;
  z-index: 3;
}

.container {
  width: 100%;
  padding: 0 3rem;
  margin: 0 auto;

  @include variables.media-up(xxl) {
    width: 142.4rem;
  }

  &--wide {
    @include variables.media-up(xxl) {
      width: 136.4rem;
    }

    @include variables.media-up(xxxl) {
      width: 170rem;
    }
  }

  &--narrow {
    max-width: 86.5rem;
  }

  .row {
    display: flex;
    margin-left: -3rem;
    margin-right: -3rem;
    justify-content: flex-start;
    // align-items: flex-start;
    flex-wrap: wrap;

    .col {
      padding-right: 3rem;
      padding-left: 3rem;
      width: 100%;
    }
  }
}