$white: #ffffff;
$black: #000000;
$gray1: #c3c3c3;
$gray2: #e8e8e9;

$blue: #3199D5;
$lightBlue: #ABC6D6;
$lightBlueAlpha: rgba(171, 198, 214, 0.50);
$darkBlue: #174766;
$darkDarkBlue: #11354d;
$red: #ff5900;

$breakpoints: (
  "xs": 0,
  "sm": 576,
  "md": 744,
  "lg": 992,
  "xl": 1200,
  "xxl": 1400,
  "xxxl": 1800
);

@mixin media-down($breakpoint) {
  $pixelsBreakpoint: map-get($breakpoints, $breakpoint) - 1px;

  @media screen and (max-width: $pixelsBreakpoint) {
    @content;
  }
}

@mixin media-up($breakpoint) {
  $pixelsBreakpoint: map-get($breakpoints, $breakpoint)+0px;

  @media screen and (min-width: $pixelsBreakpoint) {
    @content;
  }
}

@mixin media-between($breakpointMin, $breakpointMax) {
  $pixelsBreakpointMin: map-get($breakpoints, $breakpointMin)+0px;
  $pixelsBreakpointMax: map-get($breakpoints, $breakpointMax) - 1px;

  @media screen and (min-width: $pixelsBreakpointMin) and (max-width: $pixelsBreakpointMax) {
    @content;
  }
}