.header {
  // padding-top: 2.7rem;
  min-height: 10rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $lightBlue;
  // padding-top: 2rem;
  z-index: 10;

  @include media-up(md) {
    min-height: 13.5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include media-up(md) {
      flex-wrap: nowrap;
    }

    .logo {
      width: 15.5rem;
      height: auto;
      display: inline-block;
      display: flex;
      align-items: center;

      @include media-up(md) {
        width: 21.5rem;
      }
    }

    .main-nav {
      margin-left: auto;
      // display: none;
    }
  }
}