.header {
  min-height: 10rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $lightBlue;
  z-index: 10;

  @include media-up(xl) {
    min-height: 13.5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include media-up(xl) {
      flex-wrap: nowrap;
    }

    .main-nav {
      margin-left: auto;
    }
  }
}