.logo {
  width: 15.5rem;
  height: auto;
  display: inline-block;
  display: flex;
  align-items: center;

  @include media-up(md) {
    width: 19rem;
  }

  @include media-up(xxl) {
    width: 21.5rem;
  }
}